<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Enviar parémetros del Request HTTP GET - URL</title>
</head>
<body>
    <h1>Enviar parámetros del Request HTTP GET - URL</h1>
    <ul>
        <li>
            <a th:href="@{/params/string(texto='Hola Jonathan')}">/params/string?texto=Hola Jonathan</a>
        </li>
        <li>
            <a th:href="@{/params/string(texto='Que tal Jonh!')}">/params/string?texto=Que tal Jonh!</a>
        </li>
        <li>
            <a th:href="@{/params/mix-params(saludo='Edad?', numero=22)}">/params/mix-params?saludo=Edad?&numero=22</a>
        </li>
        <li>
            <a th:href="@{/params/mix-params-request(saludo='Edad?', numero=22)}">/params/mix-params-request?saludo=Edad?&numero=22</a>
        </li>
    </ul>
</body>
</html>